<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>desafiocesar</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TwitterSearch</display-name>
    <servlet-name>TwitterSearch</servlet-name>
    <servlet-class>br.org.cesar.servlet.TwitterSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwitterSearch</servlet-name>
    <url-pattern>/TwitterSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrendingTopics</display-name>
    <servlet-name>TrendingTopics</servlet-name>
    <servlet-class>br.org.cesar.servlet.TrendingTopics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrendingTopics</servlet-name>
    <url-pattern>/TrendingTopics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TweetsHastag</display-name>
    <servlet-name>TweetsHastag</servlet-name>
    <servlet-class>br.org.cesar.servlet.TweetsHastag</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TweetsHastag</servlet-name>
    <url-pattern>/TweetsHastag</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrendingSearch</display-name>
    <servlet-name>TrendingSearch</servlet-name>
    <servlet-class>br.org.cesar.servlet.TrendingSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrendingSearch</servlet-name>
    <url-pattern>/TrendingSearch</url-pattern>
  </servlet-mapping>
</web-app>